<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", maximum-scale="1">
    <title>API</title>
    
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    
</head>
<body>

   <table>
    <tr>
      <th>REGIONS</th>
      <th>DISTRICTS</th>
       </tr>   
    </table>
    {% for post in data%}
 
    <table>

   
    <tr>
      <td>{{ post.regions}}</td>
      <td>{{ post.districts}}</td>
      
    </tr>
   
    
  </table>

{% endfor %}


</body>
</html>
